<mat-sidenav-container
  class="sidenav-container"
  (swiperight)="drawer.open()"
  (swipeleft)="drawer.close()"
>
  <!-- Menu -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    role="navigation"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a
        *ngFor="let page of pages"
        mat-list-item
        routerLink="{{ page.routerLink }}"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="nav-link"
        ><span>{{ page.linkText }}</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isLaptop ? false : true"
        id="menuIcon"
      >
        <!-- menu icon -->
        &#9776;
      </button>
      <h1>Form Builder</h1>
      <mat-nav-list *ngIf="isLaptop">
        <a
          *ngFor="let page of pages"
          mat-list-item
          routerLink="{{ page.routerLink }}"
          routerLinkActive="active"
          class="nav-link"
          ><span>{{ page.linkText }}</span>
        </a>
      </mat-nav-list>
    </mat-toolbar>

    <!-- router outlet -->
    <!-- <div id="router-outlet-container">
      <router-outlet #outlet="outlet"></router-outlet>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
